body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-light);
}

input:focus,
input:active,
select:focus,
select:active {
  outline: none;
}

.App {
  display: grid;
  grid-template-rows: 4rem minmax(16rem, auto) 1fr 30rem;
}

.mobile-menu-toggle {
  display: block !important;
  top: 4rem !important;
}
