body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-light);
}

input:focus,
input:active,
select:focus,
select:active {
  outline: none;
}

.App {
  display: grid;
  grid-template-rows: 4rem minmax(16rem, auto) 1fr minmax(30rem, min-content);
}

/* mobile menu */
.mobile-menu-toggle {
  display: block !important;
  top: 4rem !important;
}

/* cart dropdown */
.cart-toggle {
  display: block !important;
  top: 6rem !important;
}

/* main slider */
.slider-active {
  opacity: 100% !important;
}

.show-slide-one {
  left: 0;
}

.show-slide-two {
  right: 0;
}

.hide-slide-one {
  left: -100%;
}

.hide-slide-two {
  right: -100%;
}

/* account options toggle class */
.account-option-active {
  border: "2px solid var(--color-tertiary)";
}
