*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #000080;
  --color-primary-light: #3535ff;
  --color-secondary: #e60012;
  --color-secondary-light: #ff4151;
  --color-tertiary: #73c056;
  --color-tertiary-light: #a9d898;

  --color-grey-light: #eaebe6;
  --color-grey: #929292;
  --color-grey-dark: #3e3e3e;

  --color-black: #1f1f1f;
  --color-white: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
